<?xml version='1.0'?>
<settings>
  <parameters>
    <cluster>elmo</cluster>
    <start>2011-02-01T00:00:00</start>
    <end>2011-02-28T23:59:59</end>
  </parameters>

  <cluster name="itasca" cores_per_node = "8" max_wallclock="24" node_prefix="node" node_offset="1" nodes="1091">
    <database>
      <dbi>dbi:SQLite:/project/msica/data/itasca_data.dbl</dbi>
    </database>
    <log parser="Moab" logdir="/project/logs/moab/itasca" />
  </cluster>
  <cluster name="calhoun" cores_per_node = "8" max_wallclock="96" node_prefix="cl1n" node_offset="1" nodes="256">
    <database>
      <dbi>dbi:SQLite:/project/msica/data/calhoun_data.dbl</dbi>
    </database>
    <log parser="Moab" logdir="/project/logs/moab/calhoun" />
  </cluster>
  <cluster name="blade" cores_per_node = "4" max_wallclock="300" node_prefix="blade" node_offset="1" nodes="283">
    <database>
      <dbi>dbi:SQLite:/project/msica/data/blade_data.dbl</dbi>
    </database>
    <log parser="Moab" logdir="/project/logs/moab/bladecenter" />
  </cluster>
  <cluster name="elmo" cores_per_node = "32" max_wallclock="150">
    <database>
      <dbi>dbi:SQLite:/project/msica/data/elmo_data.dbl</dbi>
    </database>
    <log parser="Moab" logdir="/project/logs/moab/elmo" />
    <node name="elmo01" />
    <node name="elmo02" />
    <node name="elmo03" />
    <node name="elmo04" />
    <node name="elmo05" />
    <node name="elmo06" />
  </cluster>
  <cluster name="elmob" cores_per_node = "4" max_wallclock="300" node_prefix="elmob" node_offset="1" nodes="112">
    <database>
      <dbi>dbi:SQLite:/project/msica/data/elmob_data.dbl</dbi>
    </database>
    <log parser="Moab" logdir="/project/logs/moab/elmo" />
  </cluster>
  <graphs>
    <width>1024</width>
    <queue_wait_threshold>1209600</queue_wait_threshold>

    <colors>
      <background>#FFFFFF</background>
      <text>#000000</text>
      <grid>#000000</grid>
    </colors>

    <margins>
      <left>64</left>
      <right>320</right>
      <top>32</top>
      <bottom>36</bottom>
      <chart>28</chart>
    </margins>

    <graph type="HeatMap" mode="core" name="" ylabel="Core">
      <height>120</height>
      <rows>6</rows>
      <input collector="ClusterChart" color_function="Random" label="Jobs (Identified by Color)" />
    </graph>
    <graph type="HeatMap" name="" ylabel="Node" zlabel="Cores">
      <height>120</height>
      <rows>8</rows>
      <input collector="CoreUtilization" function="CoresToNodes" color_function="Heat" label="Requested Cores Per Node"/>
    </graph>
    <graph type="HeatMap" name="" ylabel="Node" zlabel="GigaBytes">
      <height>120</height>
      <rows>8</rows>
      <input collector="MoabMemUsage" color_function="Heat" label="Requested Memory Per Node"/>
    </graph>
    <graph type="LineChart" name="Requested Nodes" ylabel="Nodes">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" function="Total" color="#00FF00" collector="NodeUtilization" />
    </graph>
    <graph type="LineChart" name="Requested Cores" ylabel="Cores">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" function="Total" color="#00FF00" collector="CoreUtilization"/>
    </graph>
    <graph type="LineChart" name="Requested Memory Per Node" ylabel="GigaBytes">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" function="Average" color="#00FF00" collector="MoabMemUsage" />
    </graph>
    <graph type="LineChart" name="Running Jobs" ylabel="Jobs">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" color="#0000FF" collector="JobCount" />
    </graph>
    <graph type="LineChart" name="Queued Jobs" ylabel="Jobs">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" color="#0000FF" collector="JobCount" mode="Queued"/>
    </graph>
    <graph type="LineChart" name="Running Job Size" ylabel="Cores">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" function="Max" color="#FFFF00" collector="JobSize" />
      <line fill="true" function="Average" color="#0000FF" collector="JobSize" />
      <line fill="true" function="Median" color="#FF0000" collector="JobSize" />
    </graph>
    <graph type="LineChart" name="Queued Job Size" ylabel="Cores">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" function="Max" color="#FFFF00" collector="JobSize" mode="Queued"/>
      <line fill="true" function="Average" color="#0000FF" collector="JobSize" mode="Queued"/>
      <line fill="true" function="Median" color="#FF0000" collector="JobSize" mode="Queued"/>
    </graph>
    <graph type="LineChart" name="Queued Job Wait Time" ylabel="Hours">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" function="Max" color="#FFFF00" collector="JobWaitTime" mode="Queued"/>
      <line fill="true" function="Average" color="#0000FF" collector="JobWaitTime" mode="Queued"/>
      <line fill="true" function="Median" color="#FF0000" collector="JobWaitTime" mode="Queued"/>
    </graph>
    <graph type="LineChart" name="Queued Job Requested Wallclock" ylabel="Hours">
      <height>60</height>
      <rows>4</rows>
      <line fill="true" function="Max" color="#FFFF00" collector="JobRequestedWallclock" mode="Queued"/>
      <line fill="true" function="Average" color="#0000FF" collector="JobRequestedWallclock" mode="Queued"/>
      <line fill="true" function="Median" color="#FF0000" collector="JobRequestedWallclock" mode="Queued"/>
    </graph>
  </graphs>
</settings>
